[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-dialogflow = "==2.9.0"
Flask = "==2.0.1"
google-cloud-speech = "==2.9.1"
google-cloud-storage = "==1.42.3"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
